<div class="home-container">
    <div class="main-container">
        <div class="header">
            <div class="photo">

            </div>
            <div class="name-nav">
                <div class="name">
                    <div class="name-comp"
                         ng-bind="home.text.name.first">
                    </div>
                    <div class="name-comp"
                         ng-bind="home.text.name.last">
                    </div>
                </div>
                <div class="nav">
                    <div class="nav-item first"
                         ng-bind="home.text.navItems.portfolio"
                         ng-click="home.navigateToPortfolio()">
                    </div>
                    <div class="nav-item"
                         ng-bind="home.text.navItems.resume"
                         ng-click="home.openCv()">
                    </div>
                </div>
            </div>
        </div>

        <div class="about">
            <div class="about-paragraph"
                 ng-repeat="paragraph in home.text.about"
                 ng-bind-html="paragraph">
            </div>
        </div>

    </div>
    <div class="temporary-website">
        <div class="temp-word first"
             ng-bind="home.text.temp.temporary">

        </div>
        <div class="temp-word"
             ng-bind="home.text.temp.website">

        </div>
    </div>

</div>