.home-container {
  @home-width: 40%;
  @photo-width: 180px;
  @photo-height: 200px;

  width: @home-width;
  min-height: 600px;
  min-width: 300px;
  padding: 80px 0 0 0;

  margin: 0 auto;

  position: relative;

  .header {
    width: 100%;
    display: flex;
    align-items: center;

    @media screen and (max-width: 1024px) {
      flex-direction: column;
    }

    .photo {
      width: @photo-width;
      height: @photo-height;

      background-image: url("/assets/images/sinem.png");
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
    }

    .name-nav {
      @name-nav-padding: 15px;
      // width: @home-width - @photo-width - @name-nav-padding * 2;
      max-width: 300px;
      display: flex;
      flex-direction: column;

      text-align: left;

      padding: @name-nav-padding;

      .name {
        .name-comp {
          width: 350px;
          font-size: 46px;
        }

        margin-bottom: 30px;
      }

      .nav {
        font-size: 30px;
        color: #27DEB5;

        .first {
          margin-right: 15px;
        }

        display: flex;
        align-items: center;
        justify-content: space-between;
      }
    }
  }

  .about {
    margin: 50px 0 100px 0;
    font-size: 18px;

    .about-paragraph {
      margin-bottom: 20px;
    }
  }

  .temporary-website {
    position: fixed;
    bottom: 0;

    width: 40%;
    height: 80px;
    margin-top: 50px;

    display: flex;
    justify-content: flex-start;

    background-color: white;
    color: #E471C9;

    font-size: 40px;
    font-weight: 800;

    .first {
      margin-right: 30px;
    }
  }
}

@media (max-width: 1024px) and (min-width: 700px) {
  .home-container {
    width: 700px;
    padding-top: 50px;

    .main-container {
      display: flex;
      width: 700px;

      .header {
        width: 270px;
        margin-right: 30px;
        margin-top: 20px;

        align-items: flex-start;

        .nav {
          flex-direction: column;
          align-items: flex-start;
        }
      }

      .side {
        width: 300px;
      }
    }

    .temporary-website {
      width: 700px;
      margin: 0 auto;
      left: 0;
      right: 0;

      padding-left: 15px;

      background-color: white;
    }

  }
}

@media (max-width: 699px) {
  .home-container {
    width: 70%;

    .header {
      flex-direction: column;

      .name-nav {
        margin-left: 0;

        .name {
          text-align: center;

          .name-comp {
            width: 100%;
          }
        }
      }
    }

    .about {
      margin-top: 20px;
    }

    .temporary-website {
      top: 0;
      font-size: 30px;

      width: 100%;
      justify-content: space-around;

      margin: 0;

      left: 0;
      right: 0;

      height: 60px;
      padding: 10px;

      background-color: white;

      .temp-word {
        height: 50px;
        margin: 0;
      }
    }
  }
}