.home-container {
  @home-width: 40%;
  @photo-width: 180px;
  @photo-height: 200px;

  width: @home-width;
  min-height: 600px;
  margin: 100px auto 0 auto;

  position: relative;

  .header {
    display: flex;
    align-items: center;

    @media screen and (max-width: 1024px) {
      flex-direction: column;
    }

    .photo {
      width: @photo-width;
      height: @photo-height;

      background-image: url("/assets/images/sinem.png");
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
    }

    .name-nav {
      @name-nav-padding: 15px;
     // width: @home-width - @photo-width - @name-nav-padding * 2;
      max-width: 300px;
      display: flex;
      flex-direction: column;

      padding: @name-nav-padding;

      .name {
        .name-comp {
          width: 350px;
          font-size: 46px;
        }

        margin-bottom: 30px;
      }

      .nav {
        font-size: 30px;
        color: #27DEB5;

        .first {
          margin-right: 15px;
        }

        display: flex;
        align-items: center;
        justify-content: space-between;
      }
    }
  }

  .about {
    margin: 50px 0;
    font-size: 18px;
  }

  .temporary-website {
    position: absolute;
    bottom: 0;

    margin-top: 50px;

    display: flex;
    justify-content: space-around;

    color: #E471C9;
    font-size: 40px;
    font-weight: 800;

    .first {
      margin-right: 30px;
    }
  }
}

@media (max-width: 1024px) {
  .home-container {
    .header {
      flex-direction: column;

      .name-nav {
        margin-left: 0;
      }
    }

    .temporary-website {
      flex-direction: column;
    }
  }
}